
* {
	margin:0;
	padding:0;

}



.main-div-form{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
background-color: brown;
}
.container-form{
	max-width:400px;
  width:100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  
  background-color: #F9F9F9;
  
}
.container-elements{
  display: flex;
  justify-content: flex-start;
}
.container-elements h3{
  color: #F96;
  display: block;
	font-size: 30px;
  font-weight: 400;
  margin-left: 5%;
}
.container-elements h4{
  display: block;
  color: #212221;
  margin-left: 5%;
}
.container-elements input[type="text"]{
  width: 80%;
  height: 5%;
  margin-left: 10%;
  margin-top: 5%;
  border:1px solid #AAA;
  padding:10px;
  
}
.container-elements textarea{
  width: 80%;
  height: 15%;
  margin-left: 10%;
  border:1px solid #AAA;
  margin-top: 5%;
  
}
.container-elements select{
  width: 80%;
  height: 5%;
  margin-left: 10%;
  border:1px solid #AAA;
  margin-top: 5%;
  
}


.container-elements button[type="submit"] {
  width: 80%;
  height: 7%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: brown;
  color:#FFF;
  padding:10px;
  font-size:15px;
  
  
}