body{
  background-color: #DCDCDC;
  height: 100%;
  width: 100%;

}
li{
  margin-bottom: 10px;
}

h1{
  color:white
}
h2{
  color: #fff;
}
h3,h4,h5{
color: #fff;

}
.checked {
  color: orange;
}
.right_side h4{
  color: #212221;
  font-weight: bold;
 
}
.right_side h3{
  color: #212221;
  font-weight: bold;
 
}
.right_side h5{
  color: #212221;
  font-weight: bold;
 
}


* {box-sizing:border-box}

/* Container for skill bars */
.container {
     /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding: 2px; /* Add some padding */
    color: white; /* White text color */
}

.css {width: 80%; background-color: #2196F3;} /* Blue */

.maincontant{
  background-color:#fff;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.left_side{
background-color:#212221 ;
height: 100%;
width: auto;


}
.right_side{
  height: 100%;
  width: auto;
  
}
.title-right{
  display: flex;
  justify-content: flex-start;
  margin-left:2%;
  margin-bottom: -20px;
  
}
.conten-left{
  display: flex;
  justify-content: center;
}
.conten-left-img{
  display: flex;
  justify-content: center;
  background-image: url(../img/mohammad2.jpg);
  width: 50%;
  height: 16%;

}
.conten-left-img:hover{
  display: flex;
  justify-content: center;
  background-image: url(../img/m1.jpg);
  width: 50%;
  height: 16%;

}
.left-title{
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  margin-bottom: -20px;


}

.main-content{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 2%;
}
.draw-rating{
  display: flex;
  justify-content: space-between;

}
.right_content{
  display: flex;
  justify-content: flex-start;
  margin-left: 4%;
}
.vl {
  border-left: 6px solid rgb(57, 65, 92);
  height:10px;
}



